[submodule "start/csv.vim"]
	path = start/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "start/delimitmate"]
	path = start/delimitmate
	url = https://github.com/raimondi/delimitmate.git
[submodule "start/diffchar.vim"]
	path = start/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim.git
[submodule "start/lightline.vim"]
	path = start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "start/mediawiki.vim"]
	path = start/mediawiki.vim
	url = https://github.com/chikamichi/mediawiki.vim.git
[submodule "start/rainbow"]
	path = start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "start/targets.vim"]
	path = start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "start/tcomment_vim"]
	path = start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "start/vim-bbye"]
	path = start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "start/vim-bufferline"]
	path = start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "start/vim-easy-align"]
	path = start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "start/vim-exchange"]
	path = start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "start/vim-expand-region"]
	path = start/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "start/vim-indent-object"]
	path = start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "start/vim-markdown"]
	path = start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "start/vim-multiple-cursors"]
	path = start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "start/vim-pencil"]
	path = start/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "start/vim-polyglot"]
	path = start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "start/vim-repeat"]
	path = start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "start/vim-signify"]
	path = start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "start/vim-surround"]
	path = start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "start/vim-trailing-whitespace"]
	path = start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "start/vim-jinja"]
	path = start/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "start/fzf.vim"]
	path = start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
