[user]
    name = Jan Hermann
    email = jh@janhermann.cz
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = matching
[include]
    path = ~/.gitconfig_local
[blame]
    date = short
[github]
    user = azag0
[branch]
    autosetuprebase = always
[alias]
    ls-assumed = !git ls-files -v | grep '^[[:lower:]]'
[http]
    postBuffer = 524288000
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[gui]
	fontdiff = -family Menlo -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	editor = gvim
[cola]
	fontdiff = Menlo,13,-1,5,50,0,0,0,0,0
	tabwidth = 4
	textwidth = 72
