*
!/.gitignore
!/.bashrc
!/.bash_profile
!/.bash_aliases
!/.inputrc
!/.tmux.conf
!/.vimrc
!/.config
!/.config/fish
!/.config/fish/config.fish
!/.config/fish/color_scheme.fish
!/.config/fish/functions
!/.config/fish/functions/fish_prompt.fish
