[user]
    name = Jan Hermann
    email = jan@janhermann.cz
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = matching
[include]
    path = ~/.gitconfig_local
[blame]
    date = short
[github]
    user = azag0
[branch]
    autosetuprebase = always
[alias]
    ls-assumed = !git ls-files -v | grep '^[[:lower:]]'
[http]
    postBuffer = 524288000
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
