[submodule "opt/base16-vim"]
	path = opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "opt/goyo.vim"]
	path = opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "opt/limelight.vim"]
	path = opt/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "opt/linediff.vim"]
	path = opt/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "opt/neomake"]
	path = opt/neomake
	url = https://github.com/neomake/neomake.git
[submodule "opt/nvim-yarp"]
	path = opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "opt/vim-hug-neovim-rpc"]
	path = opt/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "opt/vim-sneak"]
	path = opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "start/ale"]
	path = start/ale
	url = https://github.com/w0rp/ale.git
[submodule "start/csv.vim"]
	path = start/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "start/delimitmate"]
	path = start/delimitmate
	url = https://github.com/raimondi/delimitmate.git
[submodule "start/deoplete-jedi"]
	path = start/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi.git
[submodule "start/deoplete.nvim"]
	path = start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "start/diffchar.vim"]
	path = start/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim.git
[submodule "start/gina.vim"]
	path = start/gina.vim
	url = https://github.com/lambdalisue/gina.vim.git
[submodule "start/lightline.vim"]
	path = start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "start/mediawiki.vim"]
	path = start/mediawiki.vim
	url = https://github.com/chikamichi/mediawiki.vim.git
[submodule "start/rainbow"]
	path = start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "start/targets.vim"]
	path = start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "start/tcomment_vim"]
	path = start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "start/tex-conceal.vim"]
	path = start/tex-conceal.vim
	url = https://github.com/KeitaNakamura/tex-conceal.vim.git
[submodule "start/textx.vim"]
	path = start/textx.vim
	url = https://github.com/igordejanovic/textx.vim.git
[submodule "start/undotree"]
	path = start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "start/vim-bbye"]
	path = start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "start/vim-bufferline"]
	path = start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "start/vim-easy-align"]
	path = start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "start/vim-exchange"]
	path = start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "start/vim-expand-region"]
	path = start/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "start/vim-gutentags"]
	path = start/vim-gutentags
	url = git@github.com:jhrmnn/vim-gutentags.git
[submodule "start/vim-indent-object"]
	path = start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "start/vim-markdown"]
	path = start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "start/vim-multiple-cursors"]
	path = start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "start/vim-pencil"]
	path = start/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "start/vim-polyglot"]
	path = start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "start/vim-repeat"]
	path = start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "start/vim-signify"]
	path = start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "start/vim-surround"]
	path = start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "start/vim-trailing-whitespace"]
	path = start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "start/vimtex"]
	path = start/vimtex
	url = https://github.com/lervag/vimtex.git
